.category-carousel{

	margin-top: 10px;
	margin-right: -50px;
	margin-bottom: 45px;
	overflow: hidden;

	@include brk($max: $screen-lg) {
		margin-left: -($grid-gutter-width/2);
		margin-right: -($grid-gutter-width/2);
	};

	.item{

		text-align: center;
		margin-bottom: 10px;
		margin-top: 40px;
		cursor: pointer;

		&__image{
			@include transition(opacity .2s ease);
			margin: 0 auto 13px;
			padding: 0;
			border-radius: 100%;
			overflow: hidden;
			max-width: 178px;
			opacity: 1;
			background: #F7F7F7;
		}

		&__title{
			@include transition(background .2s ease, color .2s ease);
			display: inline-block;
			vertical-align: top;
			background: #fff;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
			padding: 10px 6px 6px;
			border-radius: 5px;
			width: 141px;
			color: #014176;
			font-size: 18px;
			font-family: $muriad;
			min-height: 51px;
			line-height: 28px;
			span{
				display: inline-block;
				vertical-align: middle;
				line-height: 1;
			}
		}

		&:hover, &.active{
			.item__image{
				opacity: .8;
			}

			.item__title{
				color: #fff;
				background: #5f328a;
			}
		}
	}

	.owl-next, .owl-prev{
		@include transition(opacity .2s ease);
		position: absolute;
		top: -30px;
		height: 120%;
		width: 96px;	
		z-index: 2;
		cursor: pointer;
		visibility: visible;
		opacity: 1;


		@include brk($max: $screen-tablet) {
			display: none !important;
		};


		&.disabled{
			opacity: 0;
			visibility: hidden;
		}

		.bg{
			width: 100%;
			height: 100%;
			background: #fff;
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			z-index: 2;
		}

		&:after{
		    display: block;
		    content: '';
		    width: 10px;
		    height: 80%;
		    border-radius: 100%;
		    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
		    position: absolute;
		    top: 11%;
		}

		&:before{
			@extend %icon-before;
			position: absolute;
			color: #1f91ea;
			top: 50%;
			margin-top: -37px;
			font-size: 52px;
			z-index: 3;

		}
	}

	.owl-prev{
		left: -30px;
		
		@include brk($max: $screen-desktop) {
			left: -45px;
		};
	
		&:after{
			right: 0;
		}

		&:before{
			content: '\e809';
			right: 26px;
		}
	}

	.owl-next{
		right: 0;

		@include brk($max: $screen-desktop) {
			right: -45px;
		};

		&:after{
			left: 0;
		}

		&:before{
			content: '\e803';
			left: 26px;
		}
	}
}

.after-carousel{
	background: #48c3ce;
	padding: 20px 0 17px;

	.select-title{
		display: inline-block;
		vertical-align: top;
		color: #fff;
		font-size: 26px;
		text-transform: uppercase;
		font-family: $hel-bold;
		margin: -2px 24px 0 4px;
	}

	.arrow{
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent;
		border-bottom-color: #48c3ce;
		border-width: 16px 16px 16px 16px;
		position: absolute;
		top: -52px;
		left: 288px;
	}
}

.items-carousel-wrapper{
	background: #5c2e88;
	font-size: 0;
	padding: 46px 0 12px;
	position: relative;


	@include brk($max: $screen-desktop) {
		margin-bottom: 46px;
	};


	.carousel{
		@include transition(all .2s ease);
		margin: 0 56px;
		height: 338px;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;


		@include brk($max: $screen-desktop) {
			margin: 0 -15px !important;
			height: 123px;
		};

		&.active{
			opacity: 1;
			visibility: visible;
			overflow: visible;
			height: auto;
		}

		&:before, &:after{
			display: block;
			content: '';
			position: absolute;
		}

		&:before{
			width: image-width('l.png');
			height: image-height('l.png');
			background: image-url('l.png');
		    bottom: 33px;
		    left: -260px;
		}

		&:after{
			width: image-width('r.png');
			height: image-height('r.png');
			background: image-url('r.png');
		    bottom: 124px;
		    right: -226px;
		}

	}

	.im{
		margin-bottom: 21px;
		text-align: center;
		padding: 0 15px;
		min-height: 130px;
		line-height: 130px;

		@include brk($max: $screen-desktop) {
			width: 50%;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 15px;
		};

	}

	.owl-dots{
		text-align: center;
		margin: -9px 0 0 0;
		position: relative;

		@include brk($max: $screen-desktop) {
			display: none !important;
		};

	}

	.owl-dot{
		@include transition(all .2s ease);
		display: inline-block;
		vertical-align: top;
		width: 12px;
		height: 12px;
		background: #9c80b6;
		border-radius: 100%;
		cursor: pointer;
		margin: 0 3px;

		&:hover, &.active{
			background: #ccbed9;
		}
	}

	.owl-prev, .owl-next{
		@include transition(opacity .2s ease);
		display: block;
		position: absolute;
		top: 50%;
		font-size: 54px;
		cursor: pointer;
		color: #fff;
		margin-top: -68px;
		opacity: 1;
		visibility: visible;

		@include brk($max: $screen-desktop) {
			display: none !important;
		};

		&:hover{
			color: #48c3ce;
		}

		&.disabled{
			opacity: 0;
			visibility: hidden;
		}

		&:before{
			@include transition(color .2s ease);
			@extend %icon-before;
		}
	}

	.owl-prev{
		left: -80px;
		&:before{
			content: '\e804';
		}
	}
	.owl-next{
		right: -80px;
		&:before{
			content: '\e805';
		}
	}

	.spinner{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -35px;
		margin-top: -11px;
		display: none;
	}
}

.sm-btn-download{
	padding: 10px 0;
}

.js-panels{

	.panel{
		display: none;

		&.show{
			display: block;
		}
	}
}