.btn{
	@include transition(background .2s ease);
	display: inline-block;
	vertical-align: top;
	overflow: visible;
	text-decoration: none;
	outline: none !important;
	color: #fff;
	border-radius: 4px;
	background: #5c2e88;
	padding: 2px 17px;
	font-family: $hel-bold;
	font-size: 20px;

	&:hover{
		background: lighten(#5c2e88, 10);
	}


	&--type-2{
		background: #48c3ce;
		text-shadow:  0 1px 1px rgba(#000, .4);
		padding: 5px 25px 6px;

		&:hover{
			background: lighten(#48c3ce, 10);
		}

	}
}