.carousel{
	@include user-select(none);
	position: relative;

	& * {
		@include user-select(none);
	}

	.owl-stage-outer{
		position: relative;
		overflow: hidden;
	}

	.owl-stage{
		position: relative;
		overflow: hidden;
	}

	.owl-item{
		float: left;
	}
}