
@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: font-url('HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),  font-url('HelveticaNeue-CondensedBold.woff') format('woff'), font-url('HelveticaNeue-CondensedBold.ttf')  format('truetype'), font-url('HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: font-url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),  font-url('HelveticaNeueCyr-Light.otf')  format('opentype'),
	     font-url('HelveticaNeueCyr-Light.woff') format('woff'), font-url('HelveticaNeueCyr-Light.ttf')  format('truetype'), font-url('HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MyriadPro-Regular';
  src: font-url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  font-url('MyriadPro-Regular.woff') format('woff'), font-url('MyriadPro-Regular.ttf')  format('truetype'), font-url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: font-url('icons.eot?46768467');
  src: font-url('icons.eot?46768467#iefix') format('embedded-opentype'),
       font-url('icons.woff?46768467') format('woff'),
       font-url('icons.ttf?46768467') format('truetype'),
       font-url('icons.svg?46768467#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}