.footer{
	@include transition(background .2s ease);
	text-align: center;
	padding: 79px 0 20px;
	color: #9d86b4;
	background: #fff;
	font-size: 14px;


	@include brk($max: $screen-desktop) {
		background: #5c2e88;
		color: #c8bed4;
		margin-top: 50px;
	};


	.foo-nav{
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;

			li{
				display: inline-block;
				vertical-align: top;
				margin: 0 16px 14px;

				@include brk($max: $screen-desktop) {
					display: block;
				};

			}

			a{
				text-decoration: none;
				color: #654189;

				@include brk($max: $screen-desktop) {
					color: #c8bed4;
				};


				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	.copy{
		color: #b09ec2;
		margin: 0 auto 20px;
		max-width: 700px;
		line-height: 1;


		@include brk($max: $screen-desktop) {
			color: #c8bed4;
		};


		p{
			margin: 0 0 8px 0;
		}
	}

	.dsn-logo{
		@include transition(fill .2s ease);
		fill: #9f88b5;
		margin: 0 0 27px 0;

		@include brk($max: $screen-desktop) {
			fill:#fff;
		};

	}
	
	.foo-socials{
		margin: 24px 0 0 0;

		a{
			@include transition(color .2s ease);
			display: inline-block;
			vertical-align: middle;
			font-size: 28px;
			text-decoration: none;
			margin: 0 10px;
			color: #785797;

			&:hover{
				color: #654189;
			}

			&.icon--facebook{
				font-size: 28px;
			}
			&.icon--twitter{
				font-size: 33px;
			}
			&.icon--youtube-play{
				font-size: 27px;
			}
			&.icon--instagram{
				font-size: 32px;
			}
		}
	}


	.foo-top-soc{
		@include brk($max: $screen-desktop) {
			margin: -30px 0 70px;
		};

		.soc__link{
			margin: 0 3px;
		}
	}

}