.icon{

	&:before{
		@extend %icon-before;
	}


	&--facebook:before { content: '\e800'; }
	&--odnoklassniki:before { content: '\e801'; }
	&--twitter:before { content: '\e802'; }
	&--right-open-big:before { content: '\e803'; }
	&--right-open:before { content: '\e804'; }
	&--left-open:before { content: '\e805'; }
	&--youtube-play:before { content: '\e806'; }
	&--instagram:before { content: '\e807'; }
	&--soc-bg:before { content: '\e808'; }
	&--left-open:before { content: '\e805'; }
	&--left-open-big:before { content: '\e809'; }
}