.intro{

	padding: 46px 0 0 0;
	background: #5c2e88 image-url('bg-1.jpg') center 100% repeat;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
	margin: 0 0 43px;

	@include brk($max: $screen-desktop) {
		background-image: image-url('bg-2.jpg');
		margin-bottom: 0;
		padding-top: 15px;
	};
	
	h1{
		font-family: $hel-bold;
		font-size: 38px;	
		line-height: 42px;
		margin: 28px 0 0 3px;
		color: #fff;

		@include brk($max: $screen-desktop) {
			font-size: 24px;
			line-height: 1.2;
		};


		span{
			display: block;
		}
	}

	p{
		font-family: $open;
		font-size: 20px;
		margin: 16px 0 28px 3px;
		line-height: 1.2;
		color: #fff;

		@include brk($max: $screen-desktop) {
			font-size: 16px;
			margin-bottom: 35px;
		};

	}

	.phones{
		margin: 0 -26px 0 -8px;
	}

	.viber{
		margin: 9px 0 0 0;
	}
}

.soc{
	margin: 0 0 0 4px;

	&__link{
		@include transition(all .2s ease);
		display: inline-block;
		vertical-align: top;
		position: relative;
		text-decoration: none;
		color: #fff;
		font-size: 38px;
		margin: 0 6px 0 0;

		.symbol{
			@include transition(all .2s ease);
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			line-height: 1;
			font-size: 23px;
			color: #5c2e88;
			padding: 7px 0 0 0;
		}

		&:hover{
			color: #00c8d2;

			.symbol{
				color: #fff;
			}
		}
	}
}