body{
	color: $text-color;
	font-size: $font-size-base;
	font-family: $font-family-base;
	line-height: $line-height-base;
}


P{
	margin: 0 0 18px 4px;
}

#{headings()}{
	color: $text-color;
	font-family: $hel-bold;
	font-weight: normal;
	margin: 0 0 21px;
}

h1{
	font-size: 38px;
}

h2{
	font-size: 28px;
	letter-spacing: -.05px;
	margin-left: 3px;
}