*{
	@include box-sizing(border-box);

	&:before, &:after{
		@include box-sizing(border-box);
	}
}
.img{
	
	&--responsive{
		max-width: 100%;
	}

	&--full-width{
		width: 100%;
	}

	&--block{
		display: block;
	}

	&--inline{
		display: inline-block;
		vertical-align: middle;
	}
}

.align{
	&--right{
		text-align: right;
	}

	&--left{
		text-align: left;
	}

	&--center{
		text-align: center;
	}
}

.global{
	max-width: 100%;
	overflow: hidden;
}

%icon-before{
	display: block;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-shadow:none;
}


.mhc.goc-overlay{
	margin: 0 !important;
}




.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #48c3ce;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}