$base-transition-timing: 0.2s;

//== Large screen / wide desktop
$grid-columns: 12;
$grid-gutter-width:         30px;
$container-large-desktop:      (940px + $grid-gutter-width);
$container-lg:                 $container-large-desktop;



//== Typography

$hel-light: 'HelveticaNeueCyr-Light';
$hel-bold: 'HelveticaNeue-CondensedBold';
$muriad: 'MyriadPro-Regular';
$open: 'Open Sans';


$font-family-sans-serif:  'sans-serif';
$font-family-base:        $hel-light;
$font-size-base:          16px;

$font-size-h1:            floor(($font-size-base * 3.08)); // ~40px
$font-size-h2:            floor(($font-size-base * 2.43)); // 34~px
$font-size-h3:            ceil(($font-size-base * 1.53)); // ~20px
$font-size-h4:            ceil(($font-size-base * 1.35)); // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$line-height-base:        1.2;
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px
$headings-font-weight:    normal;


//== Colors
$text-color: #2c1f36;
$link-color: #231f20;