<div class="container visible-md-block visible-lg-block">
	<h2>Disney представляет коллекцию стикеров для мессенджера Viber</h2>
	<p>Загружайте наборы красочных картинок в магазине стикеров Viber! <br>Украсьте свою переписку в мессенджере Viber стикерами с любимыми персонажами Disney, <br>чтобы сделать ее ярче и эмоциональнее. Рассказывайте о своих планах и идеях, организуйте встречи <br>и веселите друзей с помощью коротких сообщений, которыми снабжены некоторые картинки!</p>
</div>
<div class="app">
	<div class="container">
		<div data-plugin-options='{"items":5, "loop": false, "nav": true, "mouseDrag": false, "margin":20}' data-nav-text='{<span class="bg"></span>,<span class="bg"></span>}' data-responsive-options='{"0":{"items": 1}, "320": {"items": 2}, "480": {"items": 3}, "768": {"items": 3}, "992": {"items": 4}, "1024": {"items": 5}}' class="carousel category-carousel">
			<div data-title="Красавица и Чудовище" data-link="link-1" data-target="#t1" class="item active">
				<figure class="item__image">
					<img src="assets/category-1.jpg" alt="" class="img--responsive img--inline">
				</figure>
				<div class="item__title">
					<span>Красавица и Чудовище</span>
				</div>
			</div>
			<div data-title="Микки Маус" data-link="link-2" data-target="#t2" class="item">
				<figure class="item__image">
					<img src="assets/category-2.jpg" alt="" class="img--responsive img--inline">
				</figure>
				<div class="item__title">
					<span>Микки Маус</span> 
				</div>
			</div>
			<div data-title="Супер-мини герои MARVEL" data-link="link-3" data-target="#t3" class="item">
				<figure class="item__image">
					<img src="assets/category-3.jpg" alt="" class="img--responsive img--inline">
				</figure>
				<div class="item__title">
					<span>Супер-мини герои MARVEL</span>
				</div>
			</div>
			<div data-title="Винни и его друзья" data-link="link-4" data-target="#t4" class="item">
				<figure class="item__image">
					<img src="assets/category-4.jpg" alt="" class="img--responsive img--inline">
				</figure>
				<div class="item__title">
					<span>Винни и его друзья</span>
				</div>
			</div>
			<div data-title="Герои MARVEL" data-link="link-5" data-target="#t5" class="item">
				<figure class="item__image">
					<img src="assets/category-5.jpg" alt="" class="img--responsive img--inline">
				</figure>
				<div class="item__title">
					<span>Герои MARVEL</span>
				</div>
			</div>
			<div data-title="Baymax" data-link="link-6" data-target="#t6" class="item">
				<figure class="item__image">
					<img src="assets/placeholder.jpg" alt="" class="img--responsive img--inline">
				</figure>
				<div class="item__title">
					<span>Baymax</span>
				</div>
			</div>
			<div data-title="Головоломка" data-link="link-7" data-target="#t7" class="item">
				<figure class="item__image">
					<img src="assets/placeholder.jpg" alt="" class="img--responsive img--inline">
				</figure>
				<div class="item__title">
					<span>Головоломка</span>
				</div>
			</div>
			<div data-title="Минни Маус" data-link="link-8" data-target="#t8" class="item">
				<figure class="item__image">
					<img src="assets/category-8.png" alt="" class="img--responsive img--inline">
				</figure>
				<div class="item__title">
					<span>Минни Маус</span>
				</div>
			</div>
			<div data-title="Рапунцель" data-link="link-9" data-target="#t9" class="item">
				<figure class="item__image">
					<img src="assets/category-9.png" alt="" class="img--responsive img--inline">
				</figure>
				<div class="item__title">
					<span>Рапунцель</span>
				</div>
			</div>
			<div data-title="Frozen" data-link="link-10" data-target="#t10" class="item">
				<figure class="item__image">
					<img src="assets/placeholder.jpg" alt="" class="img--responsive img--inline">
				</figure>
				<div class="item__title">
					<span>Frozen</span>
				</div>
			</div>
		</div>
	</div>
	<div class="after-carousel visible-md-block visible-lg-block">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="arrow"></div>
					<span class="select-title js-select-title">Красавица и Чудовище</span>
					<a href="link-1" class="btn js-select-link">Скачать</a>
				</div>
			</div>
		</div>
	</div>
	<div class="items-carousel-wrapper js-panels">
		<div id="spinner" class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
		//= carousels/t1.html
		//= carousels/t2.html
		//= carousels/t3.html
		//= carousels/t4.html
		//= carousels/t5.html
		//= carousels/t6.html
		//= carousels/t7.html
		//= carousels/t8.html
		//= carousels/t9.html
		//= carousels/t10.html
	</div>
</div>
<div class="container visible-xs-block visible-sm-block">
	<h2>Disney представляет коллекцию стикеров для мессенджера Viber</h2>
	<p>Загружайте наборы красочных картинок в магазине стикеров Viber! <br>Украсьте свою переписку в мессенджере Viber стикерами с любимыми персонажами Disney, <br>чтобы сделать ее ярче и эмоциональнее. Рассказывайте о своих планах и идеях, организуйте встречи <br>и веселите друзей с помощью коротких сообщений, которыми снабжены некоторые картинки!</p>
</div>