<footer class="footer">
	<div class="container">
		<div class="soc foo-top-soc visible-xs-block visible-sm-block">
			<a href="" class="soc__link icon icon--soc-bg"><i class="symbol icon icon--facebook"></i></a>
			<a href="" class="soc__link icon icon--soc-bg"><i class="symbol icon icon--odnoklassniki"></i></a>
			<a href="" class="soc__link icon icon--soc-bg"><i class="symbol icon icon--twitter"></i></a>
		</div>
		<svg class="dsn-logo" xmlns="http://www.w3.org/2000/svg" width="70" height="30" viewBox="0 0 594 244.8"><path d="M55.08 1.584c-23.04.648-41.688 3.528-45.864 7.992-3.672 3.96-8.28 7.272-8.424 12.6-.144 5.256 5.976 5.688 9.72 5.688 3.744 0 7.128-.288 7.056-2.52 0-3.024-4.896-2.448-4.896-5.472 0-3.528 19.08-4.392 28.584-4.392 81.864-.288 175.968 56.376 176.112 104.4.144 37.368-48.456 45.72-75.312 45.792-9.504.072-18.792-1.008-27.576-2.592-.36-11.95-1.08-36.863-1.44-52.632 3.096-.072 5.976-.072 8.496-.072 19.8-.072 45.864 6.912 45.936 11.52 0 3.96-6.912 6.695-6.912 10.512.072 2.81 6.408 2.377 11.952 2.736 1.008.072 12.24-6.19 12.168-16.056 0-13.104-16.344-28.584-69.624-28.44-.72 0-1.512.072-2.304.072-.504-14.688-2.664-37.872-11.016-37.872-6.912.072-8.928 25.56-9.576 39.672-29.88 4.464-56.448 16.632-56.376 28.584 0 9.792 21.384 34.487 55.944 49.464.576 11.088 2.736 18.72 12.528 18.648 7.2 0 9.576-5.256 10.368-10.8 11.16 2.88 23.328 4.464 36.144 4.464 50.184-.145 90.432-26.928 90.288-63.648C240.912 69.984 141.48-.864 55.008 1.512l.072.072zM41.616 124.128c0-8.568 26.136-11.81 50.256-13.032-.216 13.464-.36 32.832-.36 45.72-29.664-10.44-49.896-27.072-49.896-32.688zm217.44-32.184c-8.496.072-8.712 34.2-8.928 46.656-.576 28.512 3.6 31.896 11.16 31.823 6.768 0 9.144-.79 8.496-24.623-1.008-45.072-4.104-53.784-10.728-53.784v-.072zm4.392-12.96c18.792-.072 48.672-21.384 48.6-39.024 0-7.992-4.104-12.024-14.4-13.536-4.32-4.104-10.655-8.712-20.087-8.712-29.23.072-48.16 23.328-48.16 36 0 4.68 1.51 10.44 5.69 15.264.15 10.08 2.6 12.744 5.91 12.744 3.67 0 5.83-2.088 7.27-4.68 4.18 1.296 9.22 2.016 15.19 1.944zm1.944-14.328c-4.392 0-7.992-.504-11.088-1.44 8.28-9.36 28.368-27.072 38.232-27.072 6.48-.072 7.56 5.112 7.56 7.056 0 11.88-24.264 21.528-34.704 21.528v-.072zm1.368-31.464c-9 5.328-18.216 12.672-24.336 20.088-.288-1.008-.432-1.944-.432-2.808-.072-5.688 8.28-14.472 24.768-17.28zm93.888 64.872c-.072-7.848-20.376-7.776-31.753-7.704-8.567 0-52.056 1.008-51.983 25.272.072 16.417 24.336 12.456 40.464 14.04 13.176 1.297 29.16 5.545 29.16 9.865.072 9.575-34.776 13.463-41.977 13.535-14.76 0-15.12-4.248-15.12-6.48 0-2.16 2.44-5.83 7.99-5.83 5.54 0 16.92 7.055 24.77 7.055 7.84-.072 14.47-3.527 14.39-7.056 0-6.4-26.07-9.57-34.13-9.5-8.43.07-20.6 3.53-20.6 16.2.07 6.55 10.8 22.18 41.11 22.03 29.88-.07 37.44-17.06 37.365-25.77-.07-21.31-20.16-23.69-37.73-25.2-13.103-1.08-27.36-1.73-27.287-4.61.144-9.72 65.305-2.52 65.232-15.77l.073-.07zm49.608-18c-2.448 0-2.88 2.592-2.88 5.4.072 8.28 11.52 37.296 11.52 48.312 0 2.304-.216 6.408-1.943 6.912-2.736.792-26.784-43.056-36.72-43.704-10.297-.72-15.77 42.984-15.696 53.784s1.943 18 9.864 18c11.88-.072 5.69-43.776 10.52-43.776 3.53 0 22.9 39.96 33.63 39.96 11.67-.07 18.58-17.136 18.51-28.224-.07-25.416-16.99-56.592-26.782-56.592v-.072zm80.64 67.68c-4.176 0-27.432 5.185-28.943 3.744-1.512-1.44 1.296-14.832 4.248-15.768s21.1-.648 24.05-.864c8.43-.433 6.84-11.88 1.66-12.312-2.66-.216-19.15-.288-20.01-1.8-.86-1.512.22-9.072 2.09-9.864 3.75-1.512 28.73-2.232 30.6-2.736 3.1-.72 5.4-2.376 6.12-5.04.8-2.664-8.64-13.536-20.37-12.312-20.014 2.232-46.01 2.088-46.01 8.64 0 6.12 12.17 8.568 12.46 10.296.36 1.656-1.582 8.064-2.23 10.008-.72 2.16-9.432 2.808-10.01 8.784-.142 1.368 2.16 3.528 1.658 5.185-1.365 5.11-5.47 15.407-5.47 19.728.07 6.624 4.896 21.456 18.576 21.024 21.455-.72 40.75-15.696 41.04-18.36.503-3.96-5.47-8.568-9.577-8.568l.143.21zm83.232-50.904c-11.736.648-34.2 25.488-47.376 42.264-.792-1.728-1.296-3.384-1.296-4.896 0-7.057 13.392-28.296 15.84-33.625 2.592-5.544-.36-12.816-3.528-10.224-6.336 5.11-26.352 28.44-26.28 50.18 0 4.97 1.297 11.09 4.105 16.63-4.536 14.54-15.408 47.01-15.048 66.67.145 10.15 10.44 20.16 16.56 18.86 2.376-.51 2.88-13.83 5.977-22.9 4.32-12.96 11.23-36.72 13.68-46.87 1.08.07 2.232.21 3.456.21 24.48-.074 51.624-26.138 51.552-48.674-.07-22.46-13.392-27.86-17.64-27.574v-.07zm-28.152 55.583c9.792-17.063 24.12-39.67 29.448-39.6 3.672.072 5.112 3.744 5.112 9.288.072 16.71-20.16 30.53-34.56 30.32z"/></svg>
		<div class="foo-nav">
			<ul>
				<li><a href="">Корпоративная информация</a></li>
				<li><a href="">Безопасный интернет</a></li>
				<li><a href="">Условия использования</a></li>
				<li><a href="">Защита данных</a></li>
				<li><a href="">Реклама</a></li>
			</ul>
		</div>
		<div class="copy">
			<p>© Disney. Все права защищены.</p>
			<p>0+ Информационная продукция, опубликованная на данном сайте, предназначена для любой аудитории, если иное не указано дополнительно в отношении отдельных материалов</p>
		</div>
		<div class="foo-socials visible-md-block visible-lg-block">
			<a href="" class="icon icon--facebook"></a>
			<a href="" class="icon icon--twitter"></a>
			<a href="" class="icon icon--odnoklassniki"></a>
			<a href="" class="icon icon--youtube-play"></a>
			<a href="" class="icon icon--instagram"></a>
		</div>
	</div>
</footer>