<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="images/viber-logo.png" alt="Стикеры с любимыми героями Disney в мессенджере Viber" class="img--responsive img--block viber">
				<h1>Стикеры с любимыми героями Disney <span>в мессенджере Viber</span></h1>
				<p>Перейдите на новый уровень общения <br>с помощью красочной коллекции стикеров <br>с персонажами Disney для мессенджера Viber!</p>
				<div class="soc visible-md-block visible-lg-block">
					<a href="" class="soc__link icon icon--soc-bg"><i class="symbol icon icon--facebook"></i></a>
					<a href="" class="soc__link icon icon--soc-bg"><i class="symbol icon icon--odnoklassniki"></i></a>
					<a href="" class="soc__link icon icon--soc-bg"><i class="symbol icon icon--twitter"></i></a>
				</div>
			</div>
			<div class="col-md-6 visible-md-block visible-lg-block">
				<div class="phones">
					<img src="images/phones.png" alt="Стикеры с любимыми героями Disney в мессенджере Viber" class="img--responsive img--block">
				</div>
			</div>
		</div>
	</div>
</div>