<script src="js/libs.js"></script>
<script src="js/main.js"></script>
<script>
  var GOC = {
          opts: {
          disneyKey: true,
          search: true,
          css: {
              zIndex: 10000
          }
          },
          queue: [ ]
  };
  
  (function (d) {
  
    var s = d.createElement("script");
  
    s.async = true;
  
    s.src = "http://new.disney.ru/goc/us/new.disney.ru/responsive.js";
  
    d.getElementsByTagName("head")[0].appendChild(s);
  
  })(document);
  
</script>