<div id="t7" class="panel">
	<div class="container">
		<div data-plugin-options='{"items":4, "loop": false, "nav": true, "mouseDrag": false, "margin":20}' data-responsive-options='{"0": {"items": {"items": 1, "slideBy" : 1}} , "320": {"items": 1, "slideBy" : 1}, "480": {"items": 1, "slideBy" : 1}, "768": {"items": 2, "slideBy" : 2}, "992": {"items": 4, "slideBy" : 4}, "1024": {"items": 4, "slideBy" : 4}}' class="carousel items-carousel">
			<div class="item">
				<div class="im"><img src="assets/insideOut/168-bell/1.png" alt="Головоломка" class="img--responsive img--inline"></div>
				<div class="im"><img src="assets/insideOut/168-bell/2.png" alt="Головоломка" class="img--responsive img--inline"></div>
			</div>
			<div class="item">
				<div class="im"><img src="assets/insideOut/168-bell/3.png" alt="Головоломка" class="img--responsive img--inline"></div>
				<div class="im"><img src="assets/insideOut/168-bell/4.png" alt="Головоломка" class="img--responsive img--inline"></div>
			</div>
			<div class="item">
				<div class="im"><img src="assets/insideOut/168-bell/5.png" alt="Головоломка" class="img--responsive img--inline"></div>
				<div class="im"><img src="assets/insideOut/168-bell/6.png" alt="Головоломка" class="img--responsive img--inline"></div>
			</div>
			<div class="item">
				<div class="im"><img src="assets/insideOut/168-bell/7.png" alt="Головоломка" class="img--responsive img--inline"></div>
				<div class="im"><img src="assets/insideOut/168-bell/8.png" alt="Головоломка" class="img--responsive img--inline"></div>
			</div>
			<div class="item">
				<div class="im"><img src="assets/insideOut/168-bell/9.png" alt="Головоломка" class="img--responsive img--inline"></div>
				<div class="im"><img src="assets/insideOut/168-bell/10.png" alt="Головоломка" class="img--responsive img--inline"></div>
			</div>
			<div class="item">
				<div class="im"><img src="assets/insideOut/168-bell/11.png" alt="Головоломка" class="img--responsive img--inline"></div>
				<div class="im"><img src="assets/insideOut/168-bell/12.png" alt="Головоломка" class="img--responsive img--inline"></div>
			</div>
			<div class="item">
				<div class="im"><img src="assets/insideOut/168-bell/13.png" alt="Головоломка" class="img--responsive img--inline"></div>
				<div class="im"><img src="assets/insideOut/168-bell/14.png" alt="Головоломка" class="img--responsive img--inline"></div>
			</div>
			<div class="item">
				<div class="im"><img src="assets/insideOut/168-bell/15.png" alt="Головоломка" class="img--responsive img--inline"></div>
				<div class="im"><img src="assets/insideOut/168-bell/16.png" alt="Головоломка" class="img--responsive img--inline"></div>
			</div>
			<div class="item">
				<div class="im"><img src="assets/insideOut/168-bell/17.png" alt="Головоломка" class="img--responsive img--inline"></div>
				<div class="im"><img src="assets/insideOut/168-bell/18.png" alt="Головоломка" class="img--responsive img--inline"></div>
			</div>
			<div class="item">
				<div class="im"><img src="assets/insideOut/168-bell/19.png" alt="Головоломка" class="img--responsive img--inline"></div>
				<div class="im"><img src="assets/insideOut/168-bell/20.png" alt="Головоломка" class="img--responsive img--inline"></div>
			</div>
		</div>
		<div class="align align--center sm-btn-download visible-xs-block visible-sm-block">
			<a href="link-1" class="btn btn--type-2 js-select-link">Скачать</a>
		</div>
	</div>
</div>